<section class="home-container">
  <h2>Catálogo Cultural - Destaques</h2>

  @if (eventos.length === 0) {
    <p>A carregar eventos do servidor...</p>
  } @else {
    <div class="cards-grid">

      @for (evento of eventos; track evento.id) {
        <div class="card">
          <h3>{{ evento.nome }}</h3>
          <p><strong>Bairro:</strong> {{ evento.bairro }} ({{ evento.zona }})</p>
          <p><strong>Tipo:</strong> {{ evento.tipo }}</p>
          <p>{{ evento.descricao }}</p>

          <div class="card-footer">
            <span class="badge">{{ evento.gratuito ? 'Gratuito' : evento.valor }}</span>
            <span class="data-badge">{{ evento.data }}</span>
          </div>
        </div>
      }

    </div>
  }
</section>
